<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<!--<add key="PercorsoApplicazione" value="C:\Inetpub\wwwroot\WS_ServizioStampe\" ></add>-->
	<add key="PercorsoApplicazione" value="http://localhost/ServizioStampe/" ></add>
	<add key="FileDaElaborare" value="file\daElaborare\" ></add>
	<add key="FileElaborati" value="file\Elaborati\" ></add>
	<add key="FileLog" value="log\" ></add>
	<add key="StampantePDF" value="PrimoPDF" ></add>
	<!--add key="StampantePDF" value="Adobe PDF" ></add-->
	<add key="StampantePredefinita" value="HP LaserJet 4100 PCL 6" ></add>
	<add key="PortaComunicazioneHTTP" value="52101"></add>
	<add key="PortaComunicazioneTCP" value="52102"></add>
	<add key="COPYDIR" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Stampe\" ></add>
	<add key="EXTDIR" value="http://localhost/ServizioStampe/" ></add>
	<add key="TEMDIR" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Stampe\Template\"></add>
	<add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Motore Stampe\ServizioRibesElaborazioneDocumentiExe\bin\log4net.xml"></add>
	<add key="ThreadSleep" value="1000"></add>
	<add key="URLWSStampaBarcode" value="http://serviziostampe.ran.it/WSStampaBarcode/ServiceStampaBarcode.asmx"></add>
	</appSettings>
</configuration>
